@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s ease;
    @apply font-audiowide;
}

@layer base {
    h1 {
        @apply text-3xl mb-6;
    }

    h2 {
        @apply text-2xl mb-4;
    }

    h3 {
        @apply text-xl mb-3;
    }
}

